<button routerLink="">Back</button>
<div class="flex flex-col justify-center items-center">
  <h1>ivysaur</h1>
  <img src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/2.png" alt="green dog with lotus on back" width="500" height="60%" />
  <div class="flex justify-around w-full">
    <ul>
      <h2>About</h2>
      <li>Species - ivysaur</li>
      <li>Height - 100</li>
      <li>Weight - 130</li>
      <li>Abilities - overgrow, chlorophyll</li>
    </ul>
    <ul>
      <h2>Base Stats</h2>
      <li>HP - 60</li>
      <li>Attack - 62</li>
      <li>Defense - 63</li>
      <li>Sp. ATK - 80</li>
      <li>Sp. Def - 80</li>
      <li>Speed - 60</li>
      <li>Total - 405</li>
    </ul>
  </div>
</div>
