<button routerLink="" class="w-full">Back</button>
<div class="flex flex-col justify-center items-center text-3xl font-bold w-full h-full text-white type-normal">
  <h1>pidgeot</h1>
  <img src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/18.png" alt="big bird" width="500" height="60%" />
  <div class="flex justify-around w-full">
    <ul>
      <h2>About</h2>
      <li>Species - pidgeot</li>
      <li>Height - 150</li>
      <li>Weight - 395</li>
      <li>Abilities - keen-eye, tangled-feet, big-pecks</li>
    </ul>
    <ul>
      <h2>Base Stats</h2>
      <li>HP - 83</li>
      <li>Attack - 80</li>
      <li>Defense - 75</li>
      <li>Sp. ATK - 70</li>
      <li>Sp. Def - 70</li>
      <li>Speed - 101</li>
      <li>Total - 479</li>
    </ul>
  </div>
</div>
