<button routerLink="" class="w-full">Back</button>
<div class="flex flex-col justify-center items-center text-3xl font-bold w-full h-full text-white type-fire">
  <h1>charmeleon</h1>
  <img src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/5.png" alt="green dog with lotus on back" width="500" height="60%" />
  <div class="flex justify-around w-full">
    <ul>
      <h2>About</h2>
      <li>Species - charmeleon</li>
      <li>Height - 110</li>
      <li>Weight - 190</li>
      <li>Abilities - blaze, solar-power</li>
    </ul>
    <ul>
      <h2>Base Stats</h2>
      <li>HP - 58</li>
      <li>Attack - 64</li>
      <li>Defense - 58</li>
      <li>Sp. ATK - 80</li>
      <li>Sp. Def - 65</li>
      <li>Speed - 80</li>
      <li>Total - 405</li>
    </ul>
  </div>
</div>
