<button routerLink="">Back</button>
<div class="flex flex-col justify-center items-center">
  <h1>charmander</h1>
  <img src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/4.png" alt="green dog with lotus on back" width="500" height="60%" />
  <div class="flex justify-around w-full">
    <ul>
      <h2>About</h2>
      <li>Species - charmander</li>
      <li>Height - 60</li>
      <li>Weight - 85</li>
      <li>Abilities - blaze, solar-power</li>
    </ul>
    <ul>
      <h2>Base Stats</h2>
      <li>HP - 39</li>
      <li>Attack - 52</li>
      <li>Defense - 43</li>
      <li>Sp. ATK - 60</li>
      <li>Sp. Def - 50</li>
      <li>Speed - 65</li>
      <li>Total - 309</li>
    </ul>
  </div>
</div>
