<button routerLink="">Back</button>
<div class="flex flex-col justify-center items-center">
  <h1>bulbasaur</h1>
  <img src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/1.png" alt="green dog with lotus on back" width="500" height="60%" />
    <div class="flex justify-around w-full">
      <ul>
        <h2>About</h2>
      <li>Species - bulbasaur</li>
      <li>Height - 70</li>
      <li>Weight - 69</li>
      <li>Abilities - overgrow, chlorophyll</li>
      </ul>
      <ul>
        <h2>Base Stats</h2>
        <li>HP - 45</li>
        <li>Attack - 49</li>
        <li>Defense - 49</li>
        <li>Sp. ATK - 65</li>
        <li>Sp. Def - 65</li>
        <li>Speed - 45</li>
        <li>Total - 318</li>
      </ul>
    </div>
</div>
