<button routerLink="">Back</button>
<div class="flex flex-col justify-center items-center">
  <h1>pikachu</h1>
  <img src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/25.png" alt="green dog with lotus on back" width="500" height="60%" />
  <div class="flex justify-around w-full">
    <ul>
      <h2>About</h2>
      <li>Species - pikachu</li>
      <li>Height - 40</li>
      <li>Weight - 60</li>
      <li>Abilities - static, lightning-rod</li>
    </ul>
    <ul>
      <h2>Base Stats</h2>
      <li>HP - 35</li>
      <li>Attack - 55</li>
      <li>Defense - 40</li>
      <li>Sp. ATK - 50</li>
      <li>Sp. Def - 50</li>
      <li>Speed - 90</li>
      <li>Total - 320</li>
    </ul>
  </div>
</div>
